<!DOCTYPE html>
<html>
  <head>
    <title>Convert2PDF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# if flash[:notice] %>
<!--      <div class="flash-messages">-->
<!--        <div class="alert alert-success alert-dismissible">-->
<!--          <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
          <%#= flash[:notice] %>
<!--        </div>-->
<!--      </div>-->
    <%# end %>

    <%# if flash[:error] %>
<!--      <div class="flash-messages">-->
<!--        <div class="alert alert-danger alert-dismissible">-->
<!--          <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
          <%#= flash[:error] %>
<!--        </div>-->
<!--      </div>-->
    <%# end %>

    <%= yield %>
  </body>
</html>
